.signs{
    display: flex;
    flex-flow: row wrap;
    gap: 7vw;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
    margin: 20px 0 100px 0;
}
