/* @font-face {
  font-family: "Japanese 3017";
  src: url('./assets/Japanese_3017.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Qanelas";
  src: url('./assets/QanelasMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
} */
body{
  background-color: black;
}



#root{
  color: white;
}

a{
  text-decoration: none;
  color: aliceblue;

  
}